<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Neil Gandhi</title>
    <link rel="stylesheet" href="..\static\styles.css" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="Navigation">
      <nav> 
        <li><a href="/">Home</a></li>
        <li><a href="about">About Me</a></li>
      </nav>
      <a class="cta" href="#"><button>Resume</button></a>
    </div>

    <header id="aboutme" style="background-color: #f5f5f5">
      <h1>ABOUT <span class="lastword">ME.</span></h1>
    </header>
    <div id="wrapper">
      <main>
        <div id="flow">
          <section>
            <img src="../static/photos/Personal Photo.png" alt="pic of me" height="700" />
          </section>
          <section>
            <p>
              My name is Neil and I enjoy creating websites. This interest
              started around 2022 when I signed up for a volunteer opportunity
              and was told to build a website. Although I had been a developer
              for some time, I did not have skills in Html, CSS, or Javascript.
              After stumbling for a couple days, I was able to build my first
              site but decided not to stop. <br /><br />Fast forward to today, I
              have built several front-end apps and have had to opportunity to
              work with Gainwell Technologies, working with various products.
              Here are some little things about me!
            </p>
            <h5>Favorite Songs:</h5>
            <ol>
              <li>Photosynthesis - Saba</li>
              <li>PRIDE. - Kendrick Lamar</li>
              <li>Maneater - Nelly Furtado</li>
            </ol>
            <h5>Hobbies:</h5>
            <ol>
              <li>Rock Climbing</li>
              <li>Working Out</li>
              <li>Playing Guitar</li>
            </ol>
          </section>
        </div>
      </main>
      <footer>
      </footer>
    </div>
  </body>
</html>
