<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hermes</title>
    <link rel="stylesheet" href="..\static\styles.css" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="Navigation">
      <nav>
        <li><a href="/">Home</a></li>
        <li><a href="about">About Me</a></li>
      </nav>
      <a class="cta" href="#"><button>Resume</button></a>
    </div>

    <header class="home">
      <h1>Hello, I'm <span class="lastword">Hermes.</span></h1>
      <p class="phrase">reconstructing sound from mouth movement</p>
      <video id="background-video" autoplay loop muted>
        <source src="{{url_for('static', filename='photos/rome.mp4')}}" type="video/mp4" />

      </video>
    </header>
    <div id="wrapper">
      <main>
        <div>
          <img src="{{ url_for('video') }}" width="300px"
          style=
          "background-size: 0% 0%;
          background-repeat: no-repeat;
          margin: auto;
          display: block;
          border-radius: 5%;"/>          
         
           <form class="control-panel" method="post" action="{{ url_for('tasks') }}">
            <input class="button" type="submit" value="Stop/Start" name="stop" style="border-radius: 8px;" />
            <input class="button" type="submit" value="Start/Stop Recording" name="rec" style="border-radius: 8px;" />
            <input class="button" type="submit" value="Play Output" name="output" style="border-radius: 8px;"/>
            <input class="button" type="submit" value="Download" name="load" style="border-radius: 8px;">
        </form>
         
      </main>
      <footer>   
      </footer>
    </div>
  </body>
</html>