<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Neil Gandhi</title>
    <link rel="stylesheet" href="..\static\styles.css" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="Navigation">
      <nav>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="contact.html">Contact Me</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="resume.pdf" target="_blank">Resume</a></li>
      </nav>
      <a class="cta" href="#"><button>Resume</button></a>
    </div>

    <header id="aboutme" style="background-color: #f5f5f5">
      <h1>Services<span class="lastword">!</span></h1>
    </header>
    <div id="wrapper">
      <main>
        <div div class="box">
          <div id="flow">
            <section>
              <div class="box-white">
                <table width="700px">
                  <caption>
                    Services Offered
                  </caption>
                  <tbody>
                    <th>Software Development</th>
                    <th>Backend Development</th>
                    <tr>
                      <th>Mobile App Design</th>
                      <th>Website Design</th>
                    </tr>
                    <tr>
                      <th>Mobile App Development</th>
                      <th>Product Optimization</th>
                    </tr>
                    <tr>
                      <th>Building a Database</th>
                      <th>Cloud Application Development</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <section>
              <div class="box-white">
                <table width="700px">
                  <caption>
                    Familiar With
                  </caption>
                  <thead>
                    <tr></tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Html, CSS, Javascript</th>
                      <th>React.js, Express.js, Node.js</th>
                    </tr>
                    <tr>
                      <th>Python, Java, C++</th>
                      <th>MySQL</th>
                    </tr>
                    <tr>
                      <th>Unity</th>
                      <th>Flutter</th>
                    </tr>
                    <tr>
                      <th>Adobe XD</th>
                      <th>Dart</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer>
      </footer>
    </div>
  </body>
</html>
