<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Neil Gandhi</title>
    <link rel="stylesheet" href="..\static\styles.css" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="Navigation">
      <nav>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="contact.html">Contact Me</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="resume.pdf" target="_blank">Resume</a></li>
      </nav>
      <a class="cta" href="#"><button>Resume</button></a>
    </div>

    <header id="aboutme" style="background-color: #f5f5f5">
      <h1>WORK<span class="lastword">!</span></h1>
    </header>
    <div id="wrapper">
      <main>
        <div id="flow">
          <section>
            <div class="box">
              <div class="box-white">
                <a href="work.html">FTE Calculator</a>
                <img
                  src="photos/computer.jpg"
                  alt="calc photo"
                  height="300px"
                />
              </div>
              <div class="box-white" style="background-color: #2e1648">
                <a href="work.html" style="color: #61c3d0">Rainbird</a>
                <img
                  src="photos/rainbird.jpg"
                  alt="calc photo"
                  height="250px"
                />
              </div>
              <div class="box-white">
                <a href="work.html">Gaze</a> <br />
                <img
                  src="photos/gaze image.png"
                  alt="calc photo"
                  height="276px"
                  style="margin-left: 30px"
                />
              </div>
            </div>
          </section>
        </div>
      </main>
      <footer>
      </footer>
    </div>
  </body>
</html>
